<!-- wp:template-part {"slug":"main-header","theme":"hockey-sports","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"hockey-sports/main-banner"} /-->
  <!-- wp:pattern {"slug":"hockey-sports/game-timetable"} /-->
  <!-- wp:pattern {"slug":"hockey-sports/training-programs"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"hockey-sports","tagName":"footer"} /-->