<!-- wp:template-part {"slug":"main-header","theme":"hockey-sports","tagName":"header"} /-->

<!-- wp:pattern {"slug":"hockey-sports/post-header-with-background"} /-->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"46px"} -->
<div style="height:46px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"post-content","theme":"hockey-sports","tagName":"div"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"hockey-sports","tagName":"footer"} /-->